* {
    margin: 0;
    padding: 0;
    color: #EEE;
}

body {
    flex-direction: column;
    display: flex;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: .8em;
}

header div {
    padding: 0 .2em;
}

header a {
    text-decoration: none;
    color: #EEE;
}

#gmail {
    padding: .8em;
}

#gmail:hover {
    text-decoration: underline;
    color: #999;
}

#images {
    margin: 0 1em 0 0;
    padding: .8em;
}

#images:hover {
    text-decoration: underline;
    color: #999;
}

#appsLogo {
    border-radius: 50%;
    padding: .8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

#appsLogo:hover {
    background: #444;
    opacity: .9;
}

#apps a {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.appsLogoDot {
    border-radius: 50%;
    background: #999;
    height: 4px;
    width: 4px;
    padding: 0;
    margin: 1.5px;
    justify-self: center;
}

#userImg {
    text-align: center;
    padding: .4em;
    border-radius: 50%;
    margin: 1em;
}

#userImg:hover {
    background: #444;
    opacity: .9;
}

#userImg img {
    display: block;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#logo {
    display: flex;
    height: 27vh;
    width: 100%;

}

#logo img {
    align-self: flex-end;
    margin: 0 auto;
}

#search {
    box-sizing: content-box;
    margin-bottom: 2em;
}

#inputForm {
    margin: auto;
    height: 100%;
    width: 60%
}

.searchBar {
    max-width: 50vw;
    margin: 2em auto;
    height: 3em;
    border-radius: 1.5em;
    border: 1px solid #999;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar:hover {
    transform: scale(1.005);
    box-shadow: 0 1px 6px rgba(209, 214, 230, 0.28);
}

#searchIcon {
    vertical-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0;
    margin-left: 4px
}

#searchIcon img {
    align-self: center;
    background: #blue;
    padding: .5em;
    height: 24px;
    width: 24px;
}

#textInput {
    height: 100%;
    width: 50vw;
    margin: 8px;
}

#searchField {
    width: 100%;
    margin: auto;
    height: 100%;
    background: transparent;
    border: none;
    color: #EEE;
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#searchField:focus {
    outline-style: none;
}

#voiceIcon {
    margin: .2em;
    height: 40px;
    width: 40px;
}

#voiceIcon img {
    height: 24px;
    margin: auto;
    padding: .5em;
    
}

.searchButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    color: #EEE;
    text-align: center;
    justify-content: center;
    height: 2.2rem;
    margin: .5em 1.2rem;
    padding: 0em .8em;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #333;
}

.button:hover {
    border: 1px solid #666;
}

.search {
    padding: 0 1rem;
}

#lang {
    width: 100%;
    display: flex;
    margin: 1em auto;
    justify-content: center;
    font-size: .8em;
    color: #eee;
}

#lang a {
    color: #E5F254;
    text-decoration: none;
}

#lang a:hover {
    color: #E5F254;
    text-decoration: underline;
}

footer{
    vertical-align: bottom;
    background: #999;
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#location {
    border-bottom: 2px solid #555;
    width: 100%;
    height: 3em;
    background: #444;
}

#location .text {
    font-size: .9rem;
    padding: 1rem;
    margin: auto 2rem;
}

#footer {
    margin-bottom: 0;
    flex-wrap: wrap;
    font-size: .9rem;
    display: flex;
    border-bottom: 2px solid#555;
    width: 100%;
    line-height: 3em;
    background: #444;
    justify-content: space-between;
    justify-self: flex-end;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.group1 {
    justify-content: flex-start;
    min-width: 30%;
    margin: auto 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.group1 a {
    padding: 0 1rem;
}

.group2 {
    min-width: ;
    justify-content: center;
    display: flex;
    align-items: center;
}

.group3 {
    min-width: 30%;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.group3 a {
    padding: 0 1rem;
}
